<div class="container products-container">
    <div class="d-flex flex-wrap align-items-center justify-content-between pb-5 pt-4">
        <div class="my-2 " >
            <a class="filter-text text-dark btn" (click)="getProductByCategory('all')">
                All Products
            </a>

            <a class="filter-text  text-dark btn" (click)="getProductByCategory('women')">
                Women
            </a>

            <a class="filter-text text-dark btn" (click)="getProductByCategory('Men')">
                Men
            </a>

            <a class="filter-text  text-dark btn" (click)="getProductByCategory('Bag')">
                Bag
            </a>

            <a class="filter-text  text-dark btn" (click)="getProductByCategory('Shoes')">
                Shoes
            </a>

            <a class="filter-text text-dark btn" (click)="getProductByCategory('Watches')">
                Watches
            </a>
        </div>
        <div class="d-flex">
            <!-- <div class="my-1 me-3 icon-border border border-1 px-3 py-2">
                <button class="btn border-0 text-decoration-none text-dark" (click)="displayFilter()">
                    <i class="bi bi-filter me-1"></i>
                    <i class="bi bi-x me-1 d-none"></i>
                     Filter
                </button>
               
            </div> -->

            <!-- <div class="d-flex my-1 me-3 border border-1 px-3 py-2">
                <button class="btn  border-0 text-decoration-none text-dark" href="#" (click)="displaySearch()">
                    <i class="bi bi-search me-1"></i>
                    <i class="bi bi-x me-1 d-none"></i>
                    Search
                </button>
              
            </div> -->
           


        </div>
         <!-- Search product -->
        <!-- <div class=" w-100 pt-3 pb-3" 
            [ngClass]="{
            'd-block':search_flag,
            'd-none':!search_flag
            }">
            <div class="d-flex ps-2  search-container">
                <button class="btn ">
                    <i class="bi bi-search"></i>
                </button>
    
                <input class="border-0 d-block form-control w-100" type="text" name="search-product" placeholder="Search" style="height: 60px;">
            </div>	
        </div> -->
        
        <!-- <div class=" pt-3 w-100"
        
            [ngClass]="{
                'd-block':filter_flag,
                'd-none':!filter_flag
            }"
        >
            <div class="bg-light  d-flex  pt-4 px-5">
                <div class="filter-col1 pe-3 pb-4" style="width: 27%;">
                    <div class="mtext pb-3">
                        Sort By
                    </div>

                    <ul class="list-unstyled">
                        <li class="pb-2">
                            <a href="#" class="stext ">
                                Default
                            </a>
                        </li>

                        <li class="pb-2">
                            <a href="#" class="stext ">
                                Popularity
                            </a>
                        </li>

                        <li class="pb-2">
                            <a href="#" class="stext ">
                                Average rating
                            </a>
                        </li>

                        <li class="pb-2">
                            <a href="#" class="stext  ">
                                Newness
                            </a>
                        </li>

                        <li class="pb-2">
                            <a href="#" class="stext  ">
                                Price: Low to High
                            </a>
                        </li>

                        <li class="pb-2">
                            <a href="#" class="stext">
                                Price: High to Low
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="filter-col1 pe-3 pb-4">
                    <div class="mtext pb-3">
                        Price
                    </div>

                    <ul class="list-unstyled">
                        <li class="pb-2">
                            <a href="#" class="stext ">
                               All
                            </a>
                        </li>

                        <li class="pb-2">
                            <a href="#" class="stext ">
                                $0.00 - $50.00
                            </a>
                        </li>

                        <li class="pb-2">
                            <a href="#" class="stext ">
                                $50.00 - $100.00
                            </a>
                        </li>

                        <li class="pb-2">
                            <a href="#" class="stext  ">
                                $100.00 - $150.00                           
                             </a>
                        </li>

                        <li class="pb-2">
                            <a href="#" class="stext  ">
                                $150.00 - $200.00  
                            </a>
                        </li>

                        <li class="pb-2">
                            <a href="#" class="stext">
                                $200.00+
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            
        </div> -->

        
    </div>


    <div  class="row pt-3">

        
    
        <div *ngFor=" let product of products"  class="col-lg-3 col-md-4 col-sm-6">
            <div class="block2 mb-2 mt-2">
                <div class="position-relative img-block ">
                    <img src={{product.imageUrl}} class="h-100 w-100" alt="IMG-PRODUCT" >

                    <a href="#" class="btn block2-btn d-flex justify-content-center align-items-center px-3" [routerLink]="['/products',product.id]">
                        Quick View
                    </a>
                </div>

                <div class="block2-txt  pt-3 d-flex justify-content-between">
                    <div class="block2-txt-child1 d-flex flex-column ">
                        <a  class="d-flex flex-column  text-decoration-none pb-2 hover" [routerLink]="['/products',product.id]">
                            {{product.name}}
                        </a>

                        <span class="" style="font-size: 16px;">
                            $ {{product.price}}
                        </span>
                    </div>

                    <div class="block2-txt-child2 me-3">
                        <!-- <a href="#" class="">
                            <img class="hover" src="../../../assets/imgs/icons/icon-heart-01.png" alt="ICON">
                            <img class="d-none" src="../../../assets/imgs/icons/icon-heart-02.png" alt="ICON">
                        </a> -->
                        <a  class="" (click)="addToCart(product)">
                            <i class="bi bi-cart-fill fs-5 addCart"></i>
                        </a>

                    </div>
                </div>
            </div>

        </div>
        
    </div>

</div>