
<app-navbar></app-navbar>
<form class="product-form">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-xl-7 mx-auto mb-5">
                <div class="table-container ">
                    <div class="wrap-table-shopping-cart">
                        <div class="table-shopping-cart">
                            <table class="table-shopping-cart">
								<tr class="table_head">
									<th class="column-1">Product</th>
									<th class="column-2"></th>
									<th class="column-3">Price</th>
									<th class="column-4 text-center">Quantity</th>
									<th class="column-5">Total</th>
									<th class="column-6 pe-5" >Remove</th>

								</tr>

								<tr *ngFor="let item of cartItems" class="table_row">
									<td class="column-1">
										<div class="how-itemcart1">
											<img src="{{item.productImage}}" class="w-100" alt="IMG">
										</div>
                                    </td>
									<td class="column-2">{{item.productName}}</td>
									<td class="column-3">$ {{item.price}}</td>
									<td class="column-4">
										<div class="wrap-num-product">
											<div class="btn-num-product-down">
												<i class="bi bi-dash-lg"></i>
											</div>

											<input class="text-center num-product border-top-0 border-bottom-0"  name="num-product1" value={{item.quantity}}>

											<div class="btn-num-product-up">
												<i class="bi bi-plus-lg"></i>
											</div>
										</div>
									</td>
									<td class="column-5">$ {{item.totalPrice}}</td>
                                    <td class="column-6">
                                        <button class="btn btn-sm btn-danger remove" (click)="removeProduct($event,item.productId)">
                                            <i class="bi bi-x-lg "></i>
                                        </button>
                                    </td>
								</tr>

                                <!-- <tr class="table_row">
									<td class="column-1">
										<div class="how-itemcart1">
											<img src="../../../assets/imgs/item-cart-05.jpg" alt="IMG">
										</div>
									</td>
									<td class="column-2">Fresh Strawberries</td>
									<td class="column-3">$ 36.00</td>
									<td class="column-4">
										<div class="wrap-num-product">
											<div class="btn-num-product-down">
												<i class="bi bi-dash-lg"></i>
											</div>

											<input class="text-center num-product border-top-0  border-bottom-0"  name="num-product1" value="1">

											<div class="btn-num-product-up ">
												<i class="bi bi-plus-lg"></i>
											</div>
										</div>
									</td>
									<td class="column-5">$ 36.00</td>
								</tr> -->
							</table>
                        </div>
                    </div>

                    <!-- <div class="update-cart justify-content-between align-items-center">
                        <div class="coupon-container d-flex flex-wrap justify-content-center align-items-center">
                            <input class="" type="text" name="coupon" placeholder="Coupon Code">
                                
                            <div class="d-flex justify-content-center align-items-center">
                                Apply coupon
                            </div>
                        </div>

                        <div class="update-cart-btn d-flex align-items-center justify-content-center ">
                            Update Cart
                        </div>
                    </div> -->

                </div>
            </div>

            <div class="col-lg-7 col-xl-5 col-sm-10 mx-auto mb-5">
                <div class="price-container">
                    <h4 class="text-uppercase btext">Cart Totals</h4>
                    <div class="d-flex justify-content-between align-items-center pb-3">
                        <div class="ssize">
                            <span class="stext">SubTotal:</span>
                        </div>
                        <div class="msize">
                            <span class="mtext">$79.65</span>
                        </div>
                    </div>
                    <div class="d-flex shopping-container">
                        <div class="ssize">
                            <span class="stext">Shipping:</span>
                        </div>
                        <div class="msize">
                            <p class="xstext">There are no shipping methods available. Please double check your address, or contact us if you need any help.</p>
                            <div class="pt-3">
                                <span class="xstext text-uppercase">
                                    Calculate Shipping
                                </span>
                                <div class="mt-2 mb-3">
                                    <select class="w-100 px-2 border" style="font-family:Poppins-Regular;font-size: 13px; height:40px;color:#888">            
                                        <option>Choose Country</option>
                                        <option>Egypt</option>
                                        <option>Usa</option>
                                    </select>
                                </div>
                                
                                <div class="mt-2 mb-4">
                                    <select class="w-100 px-2 border" style="font-family:Poppins-Regular;font-size: 13px; height:40px;color:#888">            
                                        <option>Choose City</option>
                                        <option>Cairo</option>
                                        <option>New York</option>
                                    </select>
                                </div>
                               
                                <div class="d-flex align-item-center ">
                                    <button class="btn text-uppercase update-total-btn stext text-center">
                                        Update Totals
                                    </button>
                                </div>



                            </div>

                        </div>
                    </div>

                    <div class="d-flex justify-content-between align-items-center pb-4 pt-4">
                        <div class="msize">
                            <span class="mtext">Total:</span>
                        </div>
                        <div class="msize">
                            <span class="mtext">$79.65</span>
                        </div>
                    </div>

                    <button class="d-flex btn check-out-btn justify-content-center align-items-center">
                        Proceed to Checkout
                    </button>
                </div>
                
            </div>
        </div>
    </div>
    
</form>


<app-footer></app-footer>