
<div class="container" style="padding: 60px 0px 65px 0px;">
    <div class="row">
        <div class="col-md-6 col-lg-7 pb-4 ">
            <div class="img-container d-flex">
                    <div class="side-imgs">
                        <ul class=" list-unstyled " role="tablist">
                            <li class=" mb-4" >
                                <img src=" ../../../../../../assets/imgs/product-detail-01.jpg " class="w-100 h-100">
                           </li>
                           <li  class="mb-4" >
                                <img src="../../../../../../assets/imgs/product-detail-02.jpg  " class="w-100 h-100">
                            </li>
                            <li  class="mb-4">
                                <img src=" ../../../../../../assets/imgs/product-detail-03.jpg  " class="w-100 h-100">
                            </li>
                        </ul>
                    </div>
                  

                    <div id="carouselExampleFade" class="carousel slide carousel-fade " data-bs-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src=" ../../../../../../assets/imgs/product-detail-01.jpg" class="w-100" alt="...">
                            </div>
                            <div class="carousel-item">
                                <img src=" ../../../../../../assets/imgs/product-detail-02.jpg" class="w-100" alt="...">
                            </div>
                            <div class="carousel-item">
                                <img src=" ../../../../../../assets/imgs/product-detail-03.jpg" class="w-100" alt="...">
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                
            </div>
        </div>

        <div class="col-md-6 col-lg-5 pb-4">
            <div class="pe-5 pt-1 p-lr-0-lg">
                <h4 class="btext">
                    Lightweight Jacket
                </h4>

                <span class="mtext">
                    $58.79
                </span>

                <p class="stext">
                    Nulla eget sem vitae eros pharetra viverra. Nam vitae luctus ligula. Mauris consequat ornare feugiat.
                </p>

                <div class="pb-4">
                    <div class="d-flex pb-3 flex-end w-100">
                        <div class="d-flex align-items-center justify-content-center" style="width:105px;font-family:Arial, Helvetica, sans-serif">
                            Size
                        </div>

                        <div class="w-100">
                            <div class="select-list ">
                                <select class="w-100 h-100 px-3" style="font-family:Poppins-Regular;font-size: 13px;">            
                                    <option>Choose an option</option>
                                    <option>Size S</option>
                                    <option>Size M</option>
                                    <option>Size L</option>
                                    <option>Size XL</option>
                                </select>
                                <div class="dropDownSelect2"></div>
                            </div>
                        </div>
                        

                    </div>

                    <div class="d-flex pb-3">
                        <div class="d-flex align-items-center justify-content-center" style="width:105px;font-family:Arial, Helvetica, sans-serif">
                            Color
                        </div>

                        <div class="w-100">
                            <div class="select-list">
                                <select class="w-100 h-100 px-3" style="font-family:Poppins-Regular;font-size: 13px;">            
                                    <option>Choose an option</option>
                                    <option>Red</option>
                                    <option>Blue</option>
                                    <option>White</option>
                                    <option>Grey</option>
                                </select>
                                <div class="dropDownSelect2"></div>
                            </div>
                        </div>
                        
                    </div>

                    <div class="d-flex pb-3 justify-content-end align-items-end">
                        <div class="d-flex flex-wrap align-items-center align-group" >
                            <div class="d-flex  my-3 me-3">
                                <div class="product-btn-up d-flex justify-content-center align-items-center ">
                                    <i class="bi bi-plus-lg"></i>                                
                                </div>

                                <input class="text-center product-num" type="number" name="num-product" value="1">
                                <div class="product-btn-down d-flex justify-content-center align-items-center ">
                                    <i class="bi bi-dash-lg"></i>
                                </div>
                            </div>

                            <button class="btn cart-btn ">
                                Add to cart
                            </button>
                        </div>
                    </div>	

            </div>
        </div>
    </div>
</div>


<i class="fa-solid fa-plus"></i>

