
<div class="container" style="padding: 60px 0px 65px 0px;">
    <div class="row">
        <div class="col-md-6 col-lg-7 col-sm-10 pb-4 ">
            <div class="img-container d-flex ">
                    <div class="side-imgs d-block">
                        <!-- <ul class="list-unstyled ">
                            <li class="mb-4" >
                                <img src=" ../../../../../../assets/imgs/product-detail-01.jpg " class="w-100">
                           </li>
                           <li  class=" mb-4" >
                                <img src="../../../../../../assets/imgs/product-detail-02.jpg  " class="w-100">
                            </li>
                            <li  class=" mb-4">
                                <img src=" ../../../../../../assets/imgs/product-detail-03.jpg  " class="w-100">
                            </li>
                        </ul> -->
                    </div>
                  

                    <div id="carouselExampleFade" class="carousel slide carousel-fade detail-img" data-bs-ride="carousel">
                        <div class="carousel-inner ">
                            <div class="carousel-item active ">
                                <img src={{product.imageUrl}} class="w-100" alt="...">
                            </div>
                            <!-- <div class="carousel-item w-100">
                                <img src=" ../../../../../../assets/imgs/product-detail-02.jpg" class="w-100" alt="...">
                            </div>
                            <div class="carousel-item w-100">
                                <img src=" ../../../../../../assets/imgs/product-detail-03.jpg" class="w-100" alt="...">
                            </div> -->
                        </div>
                        <!-- <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                        </button> -->
                    </div>
                
            </div>
        </div>

        <div class="col-md-6 col-lg-5 pb-4">
            <div class="pe-5 pt-1 px-lg-0">
                <h4 class="btext mb-2">
                   {{product.name}}
                </h4>

                <span class="mtext mb-5">
                    $ {{product.price}}
                </span>

                <p class="stext">
                    {{product.description.split('.').slice(0,3).join('.')}}
                </p>

                <div class="mt-5 pb-4 ">
                    <div class="d-flex pb-3 flex-end w-100">
                        <div class="d-flex align-items-center justify-content-center" style="width:105px;font-family:Arial, Helvetica, sans-serif">
                            Size
                        </div>

                        <div class="w-100">
                            <div class="select-list ">
                                <select class="w-100 h-100 px-3" style="font-family:Poppins-Regular;font-size: 13px;">            
                                    <option>Choose an option</option>
                                    <option>Size S</option>
                                    <option>Size M</option>
                                    <option>Size L</option>
                                    <option>Size XL</option>
                                </select>
                                <div class="dropDownSelect2"></div>
                            </div>
                        </div>
                        

                    </div>

                    <div class="d-flex pb-3">
                        <div class="d-flex align-items-center justify-content-center" style="width:105px;font-family:Arial, Helvetica, sans-serif">
                            Color
                        </div>

                        <div class="w-100">
                            <div class="select-list">
                                <select class="w-100 h-100 px-3" style="font-family:Poppins-Regular;font-size: 13px;">            
                                    <option>Choose an option</option>
                                    <option>Red</option>
                                    <option>Blue</option>
                                    <option>White</option>
                                    <option>Grey</option>
                                </select>
                                <div class="dropDownSelect2"></div>
                            </div>
                        </div>
                        
                    </div>

                    <div class="d-flex flex-wrap pb-3 justify-content-end align-items-center">
                        <div class="d-flex flex-wrap align-items-center  align-group " >
                            <div class="d-flex flex-wrap wrap-num-product justify-content-center align-items-center ">
                                <div class="product-btn-down d-flex justify-content-center align-items-center me-3 ">
                                    <i class="bi bi-dash-lg "></i>
                                </div>
                                <input class="text-center product-num border-top-0 border-bottom-0" name="num-product" value="1">
                                
                                <div class="product-btn-up d-flex justify-content-center align-items-center ms-3 ">
                                    <i class="bi bi-plus-lg"></i>                                
                                </div>
                            </div>

                            <button class="btn cart-btn ">
                                Add to cart
                            </button>
                        </div>
                    </div>	

                </div>
            </div>
        </div>
    </div>
</div>

