	<!-- Banner -->
	<div class="sec-banner bg0 p-t-80 p-b-50">
		<div class="container mx-auto">
			<div class="row">
				<div class="col-md-6 col-xl-4 px-3 pb-4" >
					<!-- Block1 -->
					<div class="block1 d-block" >
						<img src="../../../assets/imgs/banner-01.jpg " class="w-100 h-100" alt="IMG-BANNER">

						<a  class="d-flex flex-column position-absolute text-decoration-none w-100 h-100 trans-3 justify-content-between" (click)="navigateToProducts('women')">
							<div class="block1-txt-child1 d-flex flex-column">
								<span class="block-ltext pb-2">
									Women
								</span>

								<span class="block-stext">
									Spring 2018
								</span>
							</div>
						    
							<div class="block1-txt-child2 trans-5">
								<div class="d-inline-block block-stext2 block1-link trans-9">
									Shop Now
								</div>
							</div>
						</a>
					</div>
				</div>

				<div class="col-md-6 col-xl-4 px-3 pb-4" >
					<!-- Block1 -->
					<div class="block1 d-block" >
						<img src="../../../assets/imgs/banner-02.jpg " class="w-100 h-100" alt="IMG-BANNER">

						<a  class="d-flex flex-column position-absolute text-decoration-none w-100 h-100 trans-3 justify-content-between" (click)="navigateToProducts('men')">
							<div class="block1-txt-child1 d-flex flex-column ">
								<span class="block-ltext pb-2">
									Men
								</span>

								<span class="block-stext">
                                    Spring 2018
								</span>
							</div>
							
							<div class="block1-txt-child2  trans-5">
								<div class="d-inline-block block-stext2 block1-link trans-9">
									Shop Now
								</div>
							</div>
						</a>
					</div>
				</div>

				<div class="col-md-6 col-xl-4 px-3 pb-4" >
					<!-- Block1 -->
					<div class="block1 d-block" >
						<img src="../../../assets/imgs/banner-03.jpg " class="w-100 h-100" alt="IMG-BANNER">

						<a href="product.html" class="d-flex flex-column position-absolute text-decoration-none w-100 h-100 trans-3 justify-content-between">
							<div class="block1-txt-child1 d-flex flex-column">
								<span class="block-ltext pb-2">
                                    Accessories
								</span>

								<span class="block-stext">
									Spring 2018
								</span>
							</div>
							
							<div class="block1-txt-child2 p-b-4 trans-5">
								<div class="d-inline-block block-stext2 block1-link trans-9">
									Shop Now
								</div>
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
