<div class="container bord tabs-container mx-auto">
    <div class="row ">
        
            <div class="tabs d-flex flex-wrap flex-column align-items-center justify-content-center">
                	<!-- Nav tabs -->
					<ul class="nav nav-tabs d-flex  align-items-center justify-content-center  border-0" role="tablist">
						<li class="nav-item pb-2  ">
							<a class="nav-link mtext border-0 active "   role="tab" [ngClass]="{'active':selectedTab == 'description'}" (click)="selectTab('description')">Description</a>
						</li>

						<li class="nav-item pb-2 ">
							<a class="nav-link mtext border-0 " data-toggle="tab" role="tab" [ngClass]="{'active':selectedTab == 'information'}" (click)="selectTab('information')">Additional information</a>
						</li>

						<li class="nav-item pb-2 ">
							<a class="nav-link mtext border-0" data-toggle="tab"  role="tab" [ngClass]="{'active':selectedTab == 'reviews'}" (click)="selectTab('reviews')">Reviews</a>
						</li>
					</ul>

                    <div class="tab-content pt-4">
                        <div *ngIf="selectedTab == 'description'" class="tab-pane fade show active" id="description" role="tabpanel">
							<div class="how-pos2 ">
								<p class="stext ">
									{{productDescription}}
								</p>
							</div>
						</div>

                        <div  *ngIf="selectedTab == 'information'" class="tab-pane fade show active" id="information" role="tabpanel">
                            <div class="row">
                                <div class="col-sm-10 col-md-10 col-lg-12 mx-auto">
                                    <ul class="px-4 px-3-sm">
                                        <li class="d-flex align-items-center justify-content-center pb-2">
                                            <span class=" stext size-145">
                                                Weight
                                            </span>
    
                                            <span class="stext size-200">
                                                0.79 kg
                                            </span>
                                        </li>
    
                                        <li class="d-flex align-items-center justify-content-center pb-2">
                                            <span class="stext size-145 ">
                                                Dimensions
                                            </span>
    
                                            <span class="stext size-200 ">
                                                110 x 33 x 100 cm
                                            </span>
                                        </li>
    
                                        <li class="d-flex  align-items-center justify-content-center  pb-2">
                                            <span class="stext size-145">
                                                Materials
                                            </span>
    
                                            <span class="stext size-200  ">
                                                60% cotton
                                            </span>
                                        </li>
    
                                        <li class="d-flex  align-items-center justify-content-center  pb-2">
                                            <span class="stext size-145">
                                                Color
                                            </span>
    
                                            <span class="stext size-200 ">
                                                Black, Blue, Grey, Green, Red, White
                                            </span>
                                        </li>
    
                                        <li class="d-flex  pb-2">
                                            <span class="stext size-145">
                                                Size
                                            </span>
    
                                            <span class="stext size-200">
                                                XL, L, M, S
                                            </span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div *ngIf="selectedTab == 'reviews'" class="tab-pane fade show active" id="reviews" role="tabpanel">
							<div class="row">
								<div class="col-sm-10 col-md-8 col-lg-10 mx-auto">
									<div  class="pb-4 mx-sm-3">

										
										<!-- Review -->
										<!-- <div  *ngFor="let review of reviews" class="profile-container d-flex ">
											<div class="profile-img border-0">
												<img src={{review.userImage}} class="w-100 h-100" alt="AVATAR">
											</div>

											<div class="size-207">
												<div class="d-flex justify-content-between align-items-center flex-wrap pb-3">
													<span class="mtext cl2 pe-4">
														{{review.userName}}
													</span>

													<span class="fs-18 cl11">
														<i class="bi bi-star-fill"></i>
                                                        <i class="bi bi-star-fill"></i>
                                                        <i class="bi bi-star-fill"></i>
                                                        <i class="bi bi-star-fill"></i>
                                                        <i class="bi bi-star-fill"></i>
													</span>
												</div>

												<p class="stext">
													Quod autem in homine praestantissimum atque optimum est, id deseruit. Apud ceteros autem philosophos
												</p>
											</div>
										</div> -->
										<div   *ngFor="let review of reviews" class="profile-container d-flex ">
											<div class="profile-img border-0">
												<img [src] = " review?.userImage ? review.userImage :  '../../../../assets/imgs/personal.png'"  class="w-100 h-100" alt="AVATAR">
											</div>

											<div class="size-207">
												<div class="d-flex  align-items-center flex-wrap pb-3">
													<span class="mtext cl2 pe-4">
														{{review.userName}}
													</span>

													<span class="fs-18 cl11">
														<i class="bi " *ngFor="let star of [1, 2, 3, 4, 5]; let i = index" [class.bi-star-fill]="i < review.rating" ></i>
													  </span>
												</div>

												<p class="stext">
													{{review.feedback}}
												</p>
											</div>
										</div>
										
										<!-- Add review -->
										<form  class="w-100">
											<h5 class="pb-2">
												Add a review
											</h5>

											<p class="stext ">
												Your email address will not be published. Required fields are marked *
											</p>

											<div class="d-flex align-items-center  pt-5 pb-4">
												<span class="stext me-3">
													Your Rating
												</span>

												<span class="wrap-rating fs-18 cl11 pointer">
													<i class="bi bi-star" (mouseenter)="fillStars(1)" (click)="setRating(1)" [ngClass]="{'bi-star-fill': rating >=1 ,'bi-star' : rating <1 }"></i>
													<i class="bi" (mouseenter)="fillStars(2)" (click)="setRating(2)" [ngClass]="{'bi-star-fill': rating >=2,'bi-star' : rating <2  }"></i>
													<i class="bi" (mouseenter)="fillStars(3)" (click)="setRating(3)" [ngClass]="{'bi-star-fill': rating >=3,'bi-star' : rating <3  }"></i>
													<i class="bi" (mouseenter)="fillStars(4)" (click)="setRating(4)" [ngClass]="{'bi-star-fill': rating >=4,'bi-star' : rating <4  }"></i>
													<i class="bi" (mouseenter)="fillStars(5)" (click)="setRating(5)" [ngClass]="{'bi-star-fill': rating >=5,'bi-star' : rating <5  }"></i>
												</span>

												
												<!-- <input class="d-none" type="number" name="rating"> -->
											</div>

											<div class="row pb-4">
												<div class="col-12 pb-2">
													<label class="stext mb-2" for="review">Your review</label>
													<textarea class="w-100 bord stext px-3 py-2" id="review" name="review" style="min-height:100px;" [(ngModel)] = "userReview" ></textarea>
												</div>

												<!-- <div class="col-sm-6 p-b-5">
													<label class="stext mb-2" for="name">Name</label>
													<input class="w-100 stext px-3" id="name" type="text" name="name" style="min-height:40px;">
												</div>

												<div class="col-sm-6 p-b-5">
													<label class="stext mb-2" for="email">Email</label>
													<input class="w-100 stext px-3" id="email" type="text" name="email" style="min-height:40px;">
												</div> -->
											</div>

											<button type="button" (click)="onSubmit($event)"  class="btn btn-dark rounded-5 d-flex justify-content-center align-items-center stext text-white" style="min-width: 134px; height: 43px;">
												Submit
											</button>
										</form>
									</div>
								</div>
							</div>
						</div>
                    </div>
            </div>
        
    </div>
</div>