@font-face {
    font-family: Poppins-Bold;
    src: url('./fonts/Poppins/Poppins-Bold.ttf'); 
}

@font-face {
    font-family: Poppins-Regular;
    src: url('./fonts/Poppins/Poppins-Regular.ttf'); 
  }


body
{
    height: 5000px;
}